alabaster==0.7.6
altgraph==0.15
appnope==0.1.0
Babel==2.5.3
backports==1.0
backports-abc==0.5
backports.functools-lru-cache==1.2.1
backports.shutil-get-terminal-size==1.0.0
Beaker==1.8.1
certifi==2018.1.18
chardet==3.0.4
cycler==0.10.0
Cython==0.27.3
decorator==4.2.1
docutils==0.14
enum34==1.1.6
functools32==3.2.3.post2
gnureadline==6.3.3
idna==2.6
imagesize==0.7.1
ipython==5.4.0
ipython-genutils==0.2.0
Jinja2==2.10
macholib==1.9
Mako==1.0.7
MarkupSafe==0.23
matplotlib==2.1.1
modulegraph==0.16
monotonic==1.4
networkx==2.1
nose==1.3.7
numpy==1.14.0
pandas==0.22.0
pathlib2==2.3.0
pexpect==4.4.0
pickleshare==0.7.4
Pillow==5.0.0
prompt-toolkit==1.0.14
ptyprocess==0.5.2
py2app==0.14
pycairo==1.15.4
Pygments==2.2.0
pyobjc-core==3.0.4
pyobjc-framework-Cocoa==3.0.4
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2018.3
PyWavelets==0.5.2
requests==2.18.4
roman==2.0.0
scandir==1.7
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==1.0.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
snowballstemmer==1.2.0
Sphinx==1.6.7
sphinxcontrib-websupport==1.0.1
subprocess32==3.2.7
tornado==4.5.2
traitlets==4.3.2
typing==3.6.2
urllib3==1.22
virtualenv==15.1.0
wcwidth==0.1.7
